Package         Version  
--------------- ---------
altgraph        0.16.1   
asn1crypto      0.24.0   
beautifulsoup4  4.6.3    
bs4             0.0.1    
certifi         2018.8.24
cffi            1.11.5   
chardet         3.0.4    
cryptography    2.3.1    
et-xmlfile      1.0.1    
future          0.16.0   
idna            2.7      
jdcal           1.4      
lxml            4.2.5    
macholib        1.11     
ntlm-auth       1.2.0    
numpy           1.15.2   
openpyxl        2.5.8    
pandas          0.23.4   
pefile          2018.8.8 
pip             10.0.1   
pycparser       2.19     
PyInstaller     3.4      
python-dateutil 2.7.3    
pytz            2018.5   
pywin32-ctypes  0.2.0    
requests        2.19.1   
requests-ntlm   1.1.0    
selenium        3.14.1   
setuptools      39.1.0   
six             1.11.0   
urllib3         1.23     
